body {
    font-family: 'Arial', sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    color: #3c2a1e;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #3c2a1e;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form input[type="submit"] {
    background-color: #5c4d3e;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #4a3b30;
}

.required {
    color: red;
    margin-left: 5px;
}